<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>捐赠管理系统</title>
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	</head>
	<body>
	<div class="navall">
		<div class="logo">
			<h1>个人资金捐赠</h1>
		</div>
		<div class="navbar">
			<ul class="nav nav-pills">
			  	    <li role="presentation" ><a href="/index">项目选择</a></li>
			 		<li role="presentation" ><a href="/exchange">捐款统计</a></li>
				<li role="presentation" class="active"><a href="/blockchain">区块链浏览器</a></li>
			</ul>
		</div>
	</div>
		<div class="person" >
		   <img height="180" src="/images/sisi.jpg" width="180" class="img-rounded person-img">
		      <div>
		      		<h4>&nbsp;个人账户:</h4>
				<ul class="person-info">
				  <li>傅继晗</li>
				  <li>fujihan</li>
				  <li>15268823599</li>
				  <li aria-label="Home location" class="vcard-detail pt-1 css-truncate css-truncate-target" itemprop="homeLocation" title="
				    Beijing"><svg aria-hidden="true" class="octicon octicon-location" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M6 0C2.69 0 0 2.5 0 5.5 0 10.02 6 16 6 16s6-5.98 6-10.5C12 2.5 9.31 0 6 0zm0 14.55C4.14 12.52 1 8.44 1 5.5 1 3.02 3.25 1 6 1c1.34 0 2.61.48 3.56 1.36.92.86 1.44 1.97 1.44 3.14 0 2.94-3.14 7.02-5 9.05zM8 5.5c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path></svg>HangZhou</li>
				    <li><a href="mailto:1543818294@qq.com">549308442@qq.com</a></li>
				    <li>
					    <span style="color: #3385ff" id="a"><%-aBalance%></span><span style="color: blue">&nbsp;人民币</span><br></li>
					  <li>  <span style="color: #3385ff" id="b"><%-bBalance%></span><span style="color: blue">&nbsp;爱心资产</span><br></li>
					
				</ul>
	    	  </div>
		</div>
		<div class="blockchain">
			<table class="table">
			  <caption style="font-size: 20px">&nbsp;&nbsp;交易信息<span></span></caption>
				  <thead>
				    <tr>
				      <th>Number</th>
				      <th>Hash</th>
				      <th>From</th>
				      <th>To</th>
				    </tr>
				  </thead>
				  <tbody>
				  <%var i = 0 %>
				  <%transactionsInfo.forEach(function(transactionInfo){%>
				  <%i++%>
					<tr>
				      <td><%=i%></td>
				      <td><%-transactionInfo.hash%></td>
				      <td><%-transactionInfo.from%></td>
				      <td><%-transactionInfo.to%></td>
				      
				    </tr>
			    <%})%> 
				  </tbody>
			</table>
		</div>
		<footer class="footer">
	        <div>
     <img src="http://localhost:3000/images/zstu.jpg" style="margin-top: 20px;float:left;margin-left:300px" height="100" width="100">
	          <ul class="list-inline" style="float:left; margin-top:50px;margin-left:20px">
	            <li><a href="http://www.zstu.edu.cn/" target="_blank">联系我们</a></li><li>浙江理工大学区块链课题组 提供技术支持</li>
	          </ul>
	        </div>
	      </div>
	    </footer>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/javascripts/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>